@CHARSET "ISO-8859-1";
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="submit"]
{
      background-color: #408080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
     
}
button[type="button"]
{
      background-color: #408080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
     
}

h1 {
	background-color: #408080;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;

}

body {
	
	background-color: #ff8d33;
}


table {
font-family: "Lato","sans-serif";	}		/* added custom font-family  */

table.one {									 
margin-bottom: 3em;	
border-collapse:collapse;	}	

td {							/* removed the border from the table data rows  */
text-align: center;     
width: 10em;					
padding: 1em; 		}		

th {							  /* removed the border from the table heading row  */
text-align: center;					
padding: 1em;
background-color: #e8503a;	     /* added a red background color to the heading cells  */
color: white;		}			      /* added a white font color to the heading text */

tr {	
height: 1em;	}

table tr:nth-child(even) {		      /* added all even rows a #eee color  */
       background-color: #eee;		}

table tr:nth-child(odd) {		     /* added all odd rows a #fff color  */
background-color:#fff;		}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 60px;
    padding: 50px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
